<div class="form-horizontal">

    <h3>Новый набор данных</h3>

    <div class="col-md-6">
        <data-set-form
            [value]="value"
            (save)="submit($event)"
            (cancel)="cancel()">
        </data-set-form>
    </div>

    <div class="col-md-offset-1 col-md-5">
        <label class="control-label">Файлы</label>
        <div>
            <file-upload
                #files
                [accept]="acceptedFileFormats"
                type="primary-inverse"
                [multiple]="true"
                [preview]="false"
                (upload)="setAttachments($event)">
            </file-upload>
        </div>
    </div>
    
</div>
