<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>Исследование алгоритмов</a>
        </div>
        <div class='clearfix'></div>
        <div *ngIf="userInfo" style="color:lightgrey">
            <img [attr.src]="userInfo.photoUri" width="35px" alt="User Image" class="img-circle pull-left" style="margin:5px 15px">
            <div>Имя: {{ userInfo.userName }}</div>
            <div>Роль: <span *ngFor="let role of userInfo.roles">{{ role }} </span></div>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='fa fa-home'></span> Главная
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/persons"]' (click)='collapse()'>
                        <span class='fa fa-user'></span> Участники
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/algorithms"]' (click)='collapse()'>
                        <span class='fa fa-list-alt'></span> Алгоритмы
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/data-sets"]' (click)='collapse()'>
                        <span class='fa fa-database'></span> Наборы данных
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/researches"]' (click)='collapse()'>
                        <span class='fa fa-dashboard'></span> Исследования
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
