@model IEnumerable<AlgorithmsRanking.Models.Ticket>

@{
}

<h3>Algorithms ranking</h3>

<ul>
    @foreach (var ticket in Model)
    {
        <li>
            <code>Name:</code> @ticket.Name
            <code>Description:</code> @ticket.Description
            <code>Rank:</code> @ticket.Rank.ToString("N3")
        </li>
    }
</ul>
