<h3>
    История действий
    <span *ngIf="items?.length">пользователя <code>{{ items[0].account.userName }}</code></span>
</h3>

<spinner [active]="!items"></spinner>

<table sortable-table (sorted)="onSorted($event)" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th sortable-column="operation">Операция</th>
            <th>Время</th>
            <th sortable-column="ipAddress">IP-адрес</th>
        </tr>
    </thead>
    <tbody *ngIf="items">
        <tr *ngFor="let item of items">
            <td>{{ item.operation }}</td>
            <td>{{ item.at | date:'dd.MM.yyyy HH:mm:ss' }}</td>
            <td>{{ item.ipAddress }}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="!items?.length" style="text-align:center">Список пуст<hr></div>
