<h3>
    Участники
    <button
        (click)="createItem()"
        [disabled]="!items"
        [hideIfUnauthorized]="'FULL_ACCESS'"
        class="btn btn-primary pull-right">
        Добавить
    </button>
</h3>

<spinner [active]="!items"></spinner>

<table sortable-table (sorted)="onSorted($event)" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th sortable-column="lastName">Фамилия</th>
            <th sortable-column="firstName">Имя</th>
            <th>Отчество</th>
            <th style="width:70px" [hideIfUnauthorized]="'FULL_ACCESS'"></th>
        </tr>
    </thead>
    <tbody *ngIf="items">
        <tr *ngFor="let person of items">
            <td (click)="display(person)">{{ person.lastName }}</td>
            <td (click)="display(person)">{{ person.firstName }}</td>
            <td (click)="display(person)">{{ person.middleName }}</td>
            <td [hideIfUnauthorized]="'FULL_ACCESS'">
                <i (click)="selectItem(person.id)" title="Редактировать" class="fa fa-edit" style="cursor:pointer"></i> |
                <i (click)="deleteItem(person)" title="Удалить" class="fa fa-trash-o" style="cursor:pointer"></i>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="!items?.length" style="text-align:center">Список пуст<hr></div>
