<h3>
    Участники
    <button
        (click)="createItem()"
        [disabled]="!items"
        [hideIfUnauthorized]="'FULL_ACCESS'"
        class="btn btn-primary pull-right">
        Добавить
    </button>
</h3>

<spinner [active]="!items"></spinner>

<table sortable-table (sorted)="onSorted($event)" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th sortable-column="lastName">Фамилия</th>
            <th sortable-column="firstName">Имя</th>
            <th>Отчество</th>
            <th>Пользователь</th>
            <th>Роль</th>
            <th>Зарегестрирован</th>
            <th style="width:90px" [hideIfUnauthorized]="'FULL_ACCESS'"></th>
        </tr>
    </thead>
    <tbody *ngIf="items">
        <tr *ngFor="let acc of items">
            <td (click)="display(acc)">{{ acc.person.lastName }}</td>
            <td (click)="display(acc)">{{ acc.person.firstName }}</td>
            <td (click)="display(acc)">{{ acc.person.middleName }}</td>
            <td (click)="display(acc)">{{ acc.userName }}</td>
            <td (click)="display(acc)">{{ acc.role }}</td>
            <td (click)="display(acc)">{{ acc.registeredAt | date: 'dd.MM.yyyy' }}</td>
            <td [hideIfUnauthorized]="'FULL_ACCESS'">
                <i (click)="selectItem(acc.personId)" title="Редактировать" class="fa fa-edit" style="cursor:pointer"></i> |
                <i (click)="logs(acc.id)" title="История" class="fa fa-address-book-o" style="cursor:pointer"></i> |
                <i (click)="deleteItem(acc)" title="Удалить" class="fa fa-trash-o" style="cursor:pointer"></i>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="!items?.length" style="text-align:center">Список пуст<hr></div>



<modal [visible]="displayingAccount" 
    [header]="displayingAccount?.person?.fullName"
    (visibleChange)="hide()">
    <div *ngIf="displayingAccount">
        <div class="col-md-9 row">
            <h3 class="form-group">
                <label>Имя пользователя:</label> 
                <span >{{ displayingAccount.userName }}</span>
            </h3>
            <h3 class="form-group">
                <label>Роль:</label> 
                <span>{{ displayingAccount.role }}</span>
            </h3>
            <h3 class="form-group">
                <label>Email:</label> 
                <a [href]="'mailto:' + displayingAccount.person.email">{{ displayingAccount.person.email }}</a>
            </h3>
            <h3 class="form-group">
                <label>Телефон:</label> 
                <a [href]="'tel:' + displayingAccount.person.phone">{{ displayingAccount.person.phone }}</a>
            </h3>
            <h3 class="form-group">
                <label>Зарегестрирован:</label> 
                <span>{{ displayingAccount.registeredAt | date:'dd.MM.yyyy HH:mm' }}</span>
            </h3>
        </div>
        <div class="col-md-3">
            <img [attr.src]="displayingAccount.avatarUri" alt="User Image" class="img-circle pull-right">
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <a (click)="hide()" class="btn btn-lg btn-default pull-right">OK</a>
</modal>
