<spinner [active]="!value"></spinner>

<div *ngIf="value">
    <h3 style="margin-bottom:15px">
        Исследование '{{ value.init.name }}' &nbsp;&nbsp;
        <small *ngIf="value.research.status !== null">
            <research-status [code]="value.research.status" [showLabel]="true"></research-status>
        </small>
        <div class="pull-right">
            <button (click)="start()" *ngIf="canStart" class="btn btn-primary">Начать</button>
            <button (click)="execute()" *ngIf="canExecute" class="btn btn-primary">Выполнить</button>
            <button (click)="decline()" *ngIf="canDecline" class="btn btn-danger">Отклонить</button>
            <button (click)="close()" *ngIf="canClose" class="btn btn-success">Завершить</button>
        </div>
    </h3>

    <div *ngIf="value.permissions.canEditInit">
        <research-form
            [value]="value.init"
            [algorithms]="value.algorithms"
            [dataSets]="value.dataSets"
            [executors]="value.executors"
            (save)="submit($event)"
            (cancel)="cancel()">
        </research-form>
    </div>
    <div *ngIf="!value.permissions.canEditInit">
        <research-card [id]="value.id"></research-card>
    </div>

    <div *ngIf="value.calculated && value.research.status" class="panel" style="margin-bottom:20px"
        [class.panel-default]="value.research.status===0 || value.research.status===1"
        [class.panel-primary]="value.research.status===2 || value.research.status===3"
        [class.panel-danger]="value.research.status===4"
        [class.panel-success]="value.research.status===5">
        <div class="panel-heading">
            <b style="font-size:20px"><research-status [code]="value.research.status"></research-status> Расчеты</b>
        </div>
        <div class="panel-body">
            <form #form="ngForm" novalidate (submit)="submit()" *ngIf="value.permissions.canEditCalculated" class="row">
                <div class="form-group col-md-offset-1 col-md-4">
                    <label for="accuracyRates" class="control-label">Показатель точности</label>
                    <array-control
                        [(ngModel)]="value.calculated.accuracyRates"
                        [researchId]="value.id"
                        type="0"
                        placeholder="Введите значение"
                        name="accuracyRates" ngModel #accuracyRates="ngModel">
                    </array-control>
                    <control-messages [control]="accuracyRates" class="error-message text-danger"></control-messages>
                </div>
                <div class="form-group col-md-offset-2 col-md-4">
                    <label for="efficiencyRates" class="control-label">Показатель эффективности</label>
                    <array-control
                        [(ngModel)]="value.calculated.efficiencyRates"
                        [researchId]="value.id"
                        type="1"
                        placeholder="Введите значение"
                        name="efficiencyRates" ngModel #efficiencyRates="ngModel">
                    </array-control>
                    <control-messages [control]="efficiencyRates" class="error-message text-danger"></control-messages>
                </div>
            </form>
            <h4 *ngIf="!value.permissions.canEditCalculated">
                <div class="col-md-6">
                    <label class="col-md-6"><i class="fa fa-dashboard"></i> Показатели точности:</label>
                    <div *ngIf="value.calculated?.accuracyRates?.length" class="col-md-6">
                        <span *ngFor="let acc of value.calculated.accuracyRates" style="margin-right:5px">{{ acc.value }}, </span>
                    </div>
                    <div *ngIf="!value.calculated?.accuracyRates?.length" class="col-md-6">
                        Не рассчитаны
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-6"><i class="fa fa-signal"></i> Показатели эффективности:</label>
                    <div *ngIf="value.calculated?.efficiencyRates?.length" class="col-md-6">
                            <span *ngFor="let acc of value.calculated.efficiencyRates" style="margin-right:5px">{{ acc.value }}, </span>
                    </div>
                    <div *ngIf="!value.calculated?.efficiencyRates?.length" class="col-md-6">
                        Не рассчитаны
                    </div>
                </div>
            </h4>
        </div>
    </div>
    
    <div *ngIf="value.research.status">
        <comments [researchId]="value.id" [showPost]="value.permissions.canPostComment"></comments>
    </div>
</div>
