<spinner [active]="!value"></spinner>

<div *ngIf="value">
    <h3 style="margin-bottom:15px">
        Исследование '{{ value.init.name }}' &nbsp;&nbsp;
        <small *ngIf="value.research.status !== null">
            <research-status [code]="value.research.status" [showLabel]="true"></research-status>
        </small>
        <div class="pull-right">
            <button (click)="start()" *ngIf="canStart" class="btn btn-primary">Начать</button>
            <button (click)="execute()" *ngIf="canExecute" class="btn btn-primary">Выполнить</button>
            <button (click)="decline()" *ngIf="canDecline" class="btn btn-danger">Отклонить</button>
            <button (click)="close()" *ngIf="canClose" class="btn btn-success">Завершить</button>
        </div>
    </h3>

    <div *ngIf="value.permissions.canEditInit">
        <research-form
            [value]="value.init"
            [algorithms]="value.algorithms"
            [dataSets]="value.dataSets"
            [executors]="value.executors"
            (save)="submit($event)"
            (cancel)="cancel()">
        </research-form>
    </div>
    <div *ngIf="!value.permissions.canEditInit">
        <research-card [id]="value.id"></research-card>
    </div>

    <div *ngIf="value.calculated">
        <h3>Расчеты</h3>
        <form #form="ngForm" novalidate (submit)="submit()" *ngIf="value.permissions.canEditCalculated" class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="accuracyRate" class="control-label">Показатель точности</label>
                    <input type="number"
                        [(ngModel)]="value.calculated.accuracyRate"
                        required
                        placeholder="Введите значение"
                        name="accuracyRate" ngModel #accuracyRate="ngModel"
                        class="form-control" />
                    <control-messages [control]="accuracyRate" class="error-message text-danger"></control-messages>
                </div>
                <div class="form-group">
                    <label for="efficiencyRate" class="control-label">Показатель эффективности</label>
                    <input type="number"
                        [(ngModel)]="value.calculated.efficiencyRate"
                        required
                        placeholder="Введите значение"
                        name="efficiencyRate" ngModel #efficiencyRate="ngModel"
                        class="form-control" />
                    <control-messages [control]="efficiencyRate" class="error-message text-danger"></control-messages>
                </div>
            </div>
        </form>
        <h4 *ngIf="!value.permissions.canEditCalculated">
            <div>
                <label>Показатель точности:</label> {{ value.calculated.accuracyRate || 'Не рассчитан' }}
            </div>
            <div>
                <label>Показатель эффективности:</label> {{ value.calculated.efficiencyRate || 'Не рассчитан' }}
            </div>
        </h4>
    </div>

    <br><br>
    <div>
        <comments [researchId]="value.id"></comments>
    </div>
</div>
